.image_card_main {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image_card_main.solid {
    box-shadow: var(--primary-box-shadow);
    background: var(--background-secondary); 
}

.image_card_main.glass {
    background: var(--glass-background-primary);
    box-shadow: 13.9375px 2.7875px 37.6313px rgba(93, 43, 0, 0.1);
    backdrop-filter: blur(2px);
}

.image_card_main img {
    width: 100%;
    height: 100%;
}

