.image_card_main {
    background: var(--background-secondary);
    border-radius: 30px;
    width: 15em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--primary-box-shadow);
}

.image_card_main img {
    width: 10em;
    height: 10em;
}

