.popup_body {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.popup_modal {
    padding: 2em;
    border-radius: 5px;
    background: var(--background-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_click_to_exit {
    background: #0000004b;
    width: 100vw;
    height: 100vh;
}

.popup_close_button {
    position: absolute;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
}