.input_primary_textbox_main {
    outline: none;
    background: none;
    border: none;

    text-align: right;
    width: 100%;
    padding-right: 1em;
    color: inherit;
    font: inherit;
    font-size: 0.85em;

    height: 8em;
    resize: none;

    border: 2px solid var(--foreground-primary);
    padding: 0.3em 1em;
    border-radius: 5px;
    background: var(--background-secondary-alpha);
    box-shadow: var(--primary-box-shadow);
}

.input_primary_textbox_main::placeholder {
    color: inherit;
    opacity: 0.5;
}