.reading_body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(../../assets/images/torahimage.webp);
    background-size: cover;
}

.reading_options {
    display: grid;
    min-height: 100vh;
}

.reading_option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding-top: 1em;
}


@media only screen and (max-width: 480px) {
    .reading_option {
        font-size: 0.8em;
    }
}

.reading_home_icon {
    width: 10em;
    height: 10em;
}

.reading_description {
    color: var(--background-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    direction: rtl;
}

.reading_description h2 {
    font-size: 3em;
}

.reading_description h3 {
    font-size: 2em;
    width: 12em;
}

.reading_options_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 25em;
    max-width: 90vw;
}

.reading_option_label {
    font-weight: 600;
    color: var(--background-primary);
}

.reading_option_bottom_link {
    text-align: right;
    max-width: 90vw;
    margin: 0 auto;
}

.reading_option_bottom_link a {
    text-decoration: none;
    color: var(--background-primary);
    direction: rtl;
}