.reading_search_body {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.reading_search_bar_container {
    width: 25em;
    max-width: 90vw;
    margin: 0 auto;
}

.reading_search_middle {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.reading_search_middle a {
    text-decoration: none;
    color: inherit;
}

.reading_card_body {
    width: 30em;
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    background: var(--background-secondary);
    padding: 1em 2em;
    box-shadow: var(--primary-box-shadow);
}

.reading_card_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.reading_card_subtitle {
    display: flex;
    gap: 1em;
}

.reading_search_bottom {
    width: 25em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reading_search_bottom_link {
    text-align: right;
    max-width: 90vw;
    margin: 0 auto;
    direction: rtl;
}

.reading_search_bottom_link a {
    text-decoration: none;
    color: var(--foreground-primary);
    font-size: 0.7em;
}