.create_reading_body {
    padding-top: 4em;
    display: grid;
    width: 1080px;
    max-width: 90vw;
    margin: 0 auto;
}

.create_reading_section_header {
    display: flex;
    padding-inline: 2em;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}

.create_reading_section_description {
    width: 30em;
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 1em;
    text-align: center;
    direction: rtl;
}

.create_reading_section_description_top {
    text-decoration: underline;
}

.create_reading_section_description_bottom {
    font-size: 1.1em;
    font-weight: 700;
}

.create_reading_image_card_container {
    width: 12em;
    height: 12em;
}

.create_reading_form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 500px;
    max-width: 90vw;
    margin: 0 auto;
}

.create_reading_radio_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.create_reading_bottom_link {
    text-align: right;
    width: 30em;
    margin: 1em auto;
    max-width: 90vw;
    direction: rtl;
}

.create_reading_bottom_link a {
    text-decoration: none;
    color: var(--foreground-primary);
    font-size: 0.7em;
}

@media only screen and (min-width: 1080px) {
    .create_reading_body {
        grid-template-columns: 1fr 3fr; 
    }

}


@media only screen and (max-width: 1080px) {
    .create_reading_section.left {
        display: none;
    }
}